<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    
                        <img src="https://cdn.shopify.com/s/files/1/0646/5516/3636/files/2000x650_Celeb_Banner_2_1400x.png?v=1662114999" class="d-block w-100" alt="..." height="500" width="400">
                      </div>
                      <div class="carousel-item">
                    <img src="https://as2.ftcdn.net/v2/jpg/03/14/69/29/1000_F_314692914_aFMXU6OD0hokrCO2dkmVqtuRZgl46glW.jpg" class="d-block w-100" alt="..." height="500" width="400">
                  </div>
                  <div class="carousel-item">
                    <img src="https://as1.ftcdn.net/v2/jpg/02/52/37/30/1000_F_252373042_eQhEwTdQsJtKaYdEIQL46iIEM4hWRMdw.jpg" class="d-block w-100" alt="..." height="500" width="400">
                  </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        <br>
        <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIgxj-q7Zre4BYFKAxIrMncZpvnf1IhMmTk_GFEfPGMNF6heof1382p7dLZ7sTu5yaskw&usqp=CAU" class="card-img-top" alt="..." height="200">
                    <div class="card-body">
                      <h5 class="card-title">Modern Dress</h5>
                      <p class="card-text">Rs.2000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                <div class="card">
                    <img src="https://cdn.sharechat.com/2d862fe3_1590133162987.jpeg" class="card-img-top" alt="..." height="200">
                    <div class="card-body">
                      <h5 class="card-title">Modern Dress</h5>
                      <p class="card-text">Rs.1500</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                <div class="card">
                    <img src="https://headlinesindia.mapsofindia.com/wp-content/uploads/2021/05/Shahtaj-Khan-Instagram.jpg" class="card-img-top" alt="..." height="200">
                    <div class="card-body">
                      <h5 class="card-title">Modern Dress</h5>
                      <p class="card-text">Rs.3000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOJxV1CWk5Q3jAPt3Pl3ESjbD9sDGIHyriwg&usqp=CAU" class="card-img-top" alt="..." height="200">
                    <div class="card-body">
                      <h5 class="card-title">Modern Dress</h5>
                      <p class="card-text">Rs.4000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-uUcc7D7fVyeuP4nlN4FiMjER9RwS5i_Xp-cov35_gGQW1e1KP_6RaSie195IM5_cTxQ&usqp=CAU" class="card-img-top" alt="..." height="200">
                    <div class="card-body">
                      <h5 class="card-title">Modern Dress</h5>
                      <p class="card-text">Rs.4000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz-QvZI4hSAqdNWVKWgAXMNuPu7Qfb_O1_EJ1clvdchYDmJdpgPbbtfSDq96c5tOZxOSU&usqp=CAU" class="card-img-top" alt="..." height="200">
                    <div class="card-body">
                      <h5 class="card-title">Modern Dress</h5>
                      <p class="card-text">Rs.3000</p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
